---
import SingleNoH2 from "./SingleNoH2.astro"
const { frontmatter } = Astro.props

type frontmatter = {
    title: string,
    author: string,
    pubDate: Date,
    tags: string[],
    preamble: string,
    image: any,
}

interface Props {
    frontmatter: frontmatter
}

---
<SingleNoH2 title={frontmatter.title} >
    <main class="main-pair">
        <article class="post-field">
            <section class="post-header">
                <h2 class="post-title">{frontmatter.title}</h2>
                <div class="post-date">
                    Written by {frontmatter.author} 
                    <span>on {frontmatter.pubDate.toString().slice(0,10)}</span>
                </div>
                {frontmatter.tags && <div>{frontmatter.tags.map(t => <span class="tag"><a href={`tags/${t}`}>{t}</a></span>)}</div>}
                <p style="margin-top: 30px">{frontmatter.preamble}</p>
                {frontmatter.image && <img src={frontmatter.image.url} alt={frontmatter.image.alt}></img> }
            </section>
            <section class="post-content">
                <slot />
            </section>
        </article>
        <aside class="bar-right">
            <p>placeholder</p>
        </aside>
    </main>
</SingleNoH2>

<style lang="scss">
    .post {
        &-date {
            span {
                margin-left: 0;
            }
        }
    }
</style>